<div class="container-login-form">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container-field">
    <div class="field">
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    </div>
    <%= render 'devise/shared/button', label: 'Resend confirmation instructions' %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
  <div>