<div class="container-login-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="container-field">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="field">
      <div>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
    <%= render 'devise/shared/button', label: 'Sign up' %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>

</div>