<div class="container-login-form">

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container-field">
    <div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <%= render 'devise/shared/button', label: 'Resend unlock instructions' %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>