<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "Meu Projeto" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'views/layouts/v1/real_estate/base', media: 'all', 'data-turbo-track': 'reload' %>
  <%= yield(:head) %>
</head>

<body>
  <div class="base-layout">
    <header>
      Cabeçalho
    </header>

    <aside>
      Barra Lateral
    </aside>

    <main>
      <%= yield %>
    </main>

    <%#= yield(:scripts) %>
  </div>
</body>

</html>