<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "Meu Projeto" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'import/v1/admin', media: 'all', 'data-turbo-track': 'reload' %>
  <%= yield(:head) %>
</head>

<body>
  <div class="admin-layout">
    <header>
      <%= render 'components/v1/real_estate/header/admin/content' %>
    </header>

    <aside>
      <%= render 'components/v1/real_estate/aside/admin/side_bar' %>
    </aside>

    <main>
      <%= yield %>
    </main>

    <%#= yield(:scripts) %>
  </div>
</body>

</html>