<div class="admin-sidebar-nav-list">
  <nav class="sidebar-nav">
    <ul>
      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/apps' %>
        Dashboard
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/home' %>
        Discover
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/comment' %>
        Messages
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/apps' %>
        My Listing
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/customer' %>
        Customer
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/chart_kanban' %>
        Analytics
        <% end %>
      </li>

      <li><%= link_to '#', class: "sidebar-link" do %>
        <%= render 'shared/icons/usd_circle' %>
        Transaction
        <% end %>
      </li>
    </ul>
  </nav>
</div>